APP_PORT=3333

//MQTT_USERNAME=mqtt
//MQTT_PASSWORD=123456
MQTT_URL=mqtt://192.178.10.100:1884
MQTT_TOPIC=voice/atom_echo/text
MQTT_STATE_TOPIC=voice/atom_echo/state

WHISPER_URL=http://192.168.1.1:9000/asr
WHISPER_AUDIO_FIELD=audio_file
WHISPER_LANGUAGE=uk